*__pycache__*
*.pyc
*.log
.env
media/*
build/
static/
.vscode
db.sqlite3
docker-compose.yml
run.sh/
.docker.env
run.sh
db-data
venv/
db.dump
stop.sh
db.dump1
db.dump1:Zone.Identifier
django-entrypoint.sh
celery-entrypoint.sh
cron.sh
env
env.py